html,body {
  /*margin: 0;
  padding: 0;*/
  width: 100% !important;
  height: 100% !important;
}

body {
  display: table;
}

.dont_resize {
    resize: none;
}

.read-more {
    color: #FFF;
    font-style: italic;
    font-size: 22px;
}

.read-more:hover {
    color: #FFF;
    text-decoration: underline;
}

.readmore:focus {
    color: #FFF;
}

.bg-babyblue {
    background-color: #DCF1F3;
}

.jumbotron {
    opacity: 0;
    background-color: #fff;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-flow, .jumbo-flow > p, .jumbo-flow > a {
    opacity: 0;
    margin-left: -600px;
}

.container {
  height: auto;
}

.text-align-center {
    text-align: center;
}

.push {
    margin-bottom: 30px;
}

.space {
    padding: 30px;
}

.large-font {
    font-weight: bold;
    font-size: 26px;
}

.short_desc_font {
    font-weight: bold;
    font-size: 18px;
}

.short_desc:hover {
    color: #5bc0de;
}

.footer {
  display: table-row;
  height: 1px;
  /*width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;*/
  background-color: #333;
  color: #fff;

}

.sprite {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-image: url(/static/img/spritesheet.png);
    background-size: 200%;
    background-repeat: no-repeat;
    display: block;
}

.py-django {
    background-position: -0% -40%;
}

.ux-ui {
    background-position: 100% -0%;
}

.errorField {
    background-color: #B31E1E;
    color: #fff;
    border-radius: 5px;
    display: none;
}


/******************
    MEDIA QUERIES

*******************/

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
