html,body {
  /*margin: 0;
  padding: 0;*/
  width: 100% !important;
  height: 100% !important;
}

body {
  display: table;
}

.read-more {
    color: #FFF;
    font-style: italic;
}

.read-more:hover {
    color: #09C391;
}


.bg-babyblue {
    background-color: #DCF1F3;
}

.jumbotron {
    background-color: #646469;
    color: #fff;
}

.container {
  height: auto;
}

.text-align-center {
    text-align: center;
}

.push {
    margin-bottom: 30px;
}

.space {
    padding: 30px;
}

.large-font {
    font-weight: bold;
    font-size: 26px;
}

.short_desc_font {
    font-weight: bold;
    font-size: 18px;
}

.short_desc:hover {
    color: #5bc0de;
}

.footer {
  display: table-row;
  height: 1px;
  /*width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;*/
  background-color: #333;
  color: #fff;

}


/******************
    MEDIA QUERIES

*******************/

@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
