{% extends 'base.html' %}

{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron" style="background-image: url({% static 'img/cidbackground.jpg' %})">
<div class="container">
<div class="row">

	<div class="text-align-center">
		<h1>JCain's Portfolio/Landing</h1>
		<p class='lead text-align-center'>This portfolio page is designed to educate clients and prospects about my skills as a full stack web developer</p>
		<a class="read-more" href="#continue-reading">Read on...</a>
	</div>


</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row push space">
	<div class='col-sm-12'>
		<a name="continue-reading"></a>
		<p class='lead text-align-center' style="color:#34671D;"><span class="large-font">Python &amp; Django</span>
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-code fa-stack-1x"></i>
		</span>
		</p>
	</div>
    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in py_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-check-square fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'img/py_django.jpg' %}" class="img-responsive hidden-xs hidden-sm" alt="" >
    </div>
    </div>
</div>

<div class="row push space">
    <div class='col-sm-12'>
        <p class='lead text-align-center' style="color:#A79432;"><span class="large-font">UI/UX</span>
        <br/>
        <span class="fa-stack fa-lg fa-5x">
            <i class="fa fa-comment-o fa-stack-2x"></i>
            <i class="fa fa-bolt fa-stack-1x"></i>
        </p>
    </div>
    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in ui_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-plus fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3">
        <img src="{% static 'img/ux-ui.png' %}" class="img-responsive hidden-xs hidden-sm" alt="" >
    </div>
    </div>
</div>

<div class="row push space">
    <div class='col-sm-12'>
		<p class='lead text-align-center'><span class="large-font">Linux/Databases/ETC...</span>
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-github fa-stack-1x"></i>
		</span>
		</p>
	</div>

    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in osx_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-hand-lizard-o fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3">
        <p>Second About Us About Us About Us About Us About Us About Us About Us About Us About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout</p>
    </div>
    </div>
</div>
{% endblock %}
