{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron">
<div class="container">
<div class="row">

	<div class="jumbo-flow text-align-center">
		<h1 class="header-flow">JCain's Portfolio/Landing</h1>
		<p class='lead text-align-center'>This portfolio page is designed to educate clients and prospects about my skills as a full stack web developer</p>
		<a class="read-more" href="#continue-reading">Read on...</a>
	</div>


</div>
</div>
</div>
<a id="about"></a>
{% endblock %}

{% block content %}
<div class="row push space about_section">
	<div class="col-sm-12 push">
		<img class="img-responsive img-circle center-block avatar" src="{% static 'img/about_avatar.jpg' %}" />
	</div>
	<div class="row">
	<div class="col-sm-12">
		<blockquote class="bs-callout bs-callout-info">
		<p class="about_text text-align-center"> Hello everybody! </br>
			My name is Jared, and I'm a 100% self-taught full stack web developer!
			I have been programming for <span class="about_highlight">3 years ( going on 4 )</span> and absolutely love it!
			Besides the obvious code writing, I love being a part of an industry/community that promotes
			open source values through collaboration ( <span class="about_highlight">Git</span> ) and education ( <span class="about_highlight">StackExchange</span> ).
			I initially started programming with <span class="about_highlight">PHP and Javascript</span> .
			After being introduced to Python 2 years ago, I fell in love with its style and versatility so
			much that it is now my "go to" backend language.
		</br></br>
		 	At this point, <span class="about_highlight">Python and Javascript</span> are my main loves in
			life ( besides my <span class="about_highlight">amazing</span>  fiance! ).
			Between the two languages, I am able to complete any neccessary web dev tasks
			( whether it be frontend or backend ) while also having the flexibility to look at other areas
			of the computer such as system programming!
		</br></br>
			Being the abstract and dynamic thinker that I am, of course...
		</br></br>
		<span style="color: #BFB204;font-size: 1.5em;">I AM WILLING TO LEARN!</span>
		</p>
	</blockquote>
	</div>
	</div>
</div>

<div class="row push space">
	<div class='col-sm-12'>
		<a id="continue-reading"></a>
		<p class='lead text-align-center' style="color:#34671D;"><span class="large-font">Python &amp; Django</span>
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-code fa-stack-1x"></i>
		</span>
		</p>
	</div>
    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in py_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-check-square fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'img/py_django.jpg' %}" class="img-responsive hidden-xs hidden-sm" alt="" >
    </div>
    </div>
	<div class="row">

	</div>
</div>

<div class="row push space">
    <div class='col-sm-12'>
        <p class='lead text-align-center' style="color:#A79432;"><span class="large-font">UI/UX</span>
        <br/>
        <span class="fa-stack fa-lg fa-5x">
            <i class="fa fa-circle-o-notch fa-rotate-180 fa-stack-2x"></i>
            <i class="fa fa-eye fa-stack-1x"></i>
        </p>
    </div>
    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in ui_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-plus fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3">
        <img src="{% static 'img/ux-ui.png' %}" class="img-responsive hidden-xs hidden-sm" alt="" >
    </div>
    </div>
</div>

<div class="row push space">
    <div class='col-sm-12'>
		<p class='lead text-align-center' style="color:#565B8C;"><span class="large-font">Linux/Databases/ETC...</span>
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-linux fa-stack-1x"></i>
		</span>
		</p>
	</div>

    <div class="row">
    <div class="col-sm-9">
        <ul class="fa-ul">
        {% for item in osx_query %}
            <li class="short_desc_font short_desc"><i class="fa-li fa fa-hand-lizard-o fa-1x"></i>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3">
        <p>Second About Us About Us About Us About Us About Us About Us About Us About Us About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout</p>
    </div>
    </div>
</div>

<div class="row push space">
	<div class="col-sm-6 col-sm-offset-3">
		<a id="contact_me"></a>
		<h1 class="text-danger">If you would like to know more...</h1>
		<h1 class="text-align-center">Contact Me!</h1>
		{% if contact_form %}
		<form class="text-align-center contact-form" method='POST' action='contact_email/'>{% csrf_token %}
			{{ contact_form|crispy }}

			<input class="btn btn-primary" type='submit' value='Submit'/>

		</form>
		{% else %}

		{% endif %}
	</div>
</div>
{% endblock %}
